*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

:root {
  --gray      : #464646;
  --lightGray : #737373;
  --blue      : #055383;
  --lightBlue : #065484;
  --black     : #1b1b1b;
  --white     : #FFFFFF;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}